@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Montserrat:wght@400&display=swap');

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #3B4050;
    justify-content: center;
    align-items: center;
}
  
.footer-segments {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: flex-start;
}

.company-tagline, .quick-links, .services-container, .connect-links {
    padding: 1rem 1rem;
    display: flex;
    width: 20%;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-around;
    align-items: self-start;
}

.company-tagline h2 {
    font-size: 21px;
    color: #A59678;
    font-family: 'Oswald', sans-serif;
}

.company-tagline p {
    color: #6F737F;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.footer-container h1 {
    color: white;
    font-family: 'Oswald', sans-serif;
}

.quick-links-items p {
    color: #6F737F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: start;
}

.quick-links-heading h2{
    font-size: 21px;
    color: #A59678;
    font-family: 'Oswald', sans-serif;
}
.services-container-items p {
    color: #6F737F;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: start;
}

.services-container-heading h2{
    font-size: 21px;
    color: #A59678;
    font-family: 'Oswald', sans-serif;
}

.connect-links-heading h2{
    font-size: 21px;
    color: #A59678;
}


@media only screen and (max-width: 768px) {

    .footer-segments {
        flex-direction: column;
        gap: 0;
    }

    .company-tagline, .quick-links, .services-container, .connect-links {
        width: 80%;
    }

    .rights-statement {
        width: 60%;
    }
 }
