@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Montserrat:wght@400&display=swap");

.steps-container {
  margin-top: 5rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.right-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: start;
  text-align: start;
}

.right-container h2 {
  color: #a59678;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
}

.right-container p {
  font-family: "Montserrat", sans-serif;
  font-family: 18px;
  line-height: 1.5;
}

.left-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.steps {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #3b4050;
  color: white;
  padding: 1rem 1rem;
}

.steps h2 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
}

.steps p {
  font-family: "Montserrat", sans-serif;
  font-family: 18px;
  line-height: 1.5;
}

@media only screen and (max-width: 1250px) {
    .steps-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .steps-container img {
        height: 300px;
        width: 300px;
    }
     
    .right-container {
        height: 100%;
        width: 80%;
        align-items: center;
        justify-content: center;
    }
    .left-container {
        height: 100%;
        flex-direction: row;
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .left-container {
        height: 100%;
        flex-direction: column;
        width: 100%;
    }
    .steps {
      width: 70%;
    }
 }